body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: bisque;
}

#cards {
    display: flex;
    gap: 40px;
}

.card {
    background-color: bisque;
    color: black;
    border-radius: 16px;
}

.card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}