:root {
    --dark-primary: #222831;
	--gray-primary: #393e46;
	--blue-primary: #0092ca;
	--white-primary: #eeeeee; 
}

body {
    color: var(--white-primary);
    margin: auto;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#cards {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    background-color: var(--white-primary);
    color: var(--dark-primary);
    border-radius: 8px;
}

.card:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}